.container-explore {
    max-width: 60%; /* or 100% for full width */
    margin: auto;
  }

  .d-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .left-sidebar {
    background-color: #f8f9fa;
    border-radius: 15px;
    height: fit-content;
  }

  .right-content {
    background-color: #ffffff;
    border-radius: 15px;
  }

  .place-image img {
    max-height: 150px;
    object-fit: cover;
  }

  .join-us {

    background-color: rgb(61, 112, 80);
  }
  
  .custom-btn {
    
    border: 2px solid #74a580;
    /* Green border */
  }
  
  .custom-btn:hover {
    background-color: #74a580;
    /* Darker green on hover */
    border-color: #218838;
    /* Darker border color */
    color: #fff;
    /* Keep white text on hover */
  }
  
  .custom-btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
    /* Green outline on focus */
  }