.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: #74a580;
  border-bottom: 2px solid rgb(52, 129, 64);
  /* ✅ border width, style, and color */
}

.nav-link {
  font-size: 18px;
  /* or larger like 20px */
  padding: 10px 20px;
  /* adjust spacing */
}

.navbar-logo {
  height: 160px;
  /* Make it bigger */
  margin-top: -30px;
  /* Pull it upward to not stretch navbar */
  margin-bottom: -30px;
  /* Optional: prevent pushing nav links down */
  margin-left: -50px;
}

.container-explore {
  max-width: 60%;
  /* or 100% for full width */
  margin: auto;
}

.d-grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.left-sidebar {
  background-color: #f8f9fa;
  border-radius: 15px;
  height: fit-content;
}

.right-content {
  background-color: #ffffff;
  border-radius: 15px;
}

.place-image img {
  max-height: 150px;
  object-fit: cover;
}

.join-us {

  background-color: rgb(61, 112, 80);
}

.custom-btn {
  background-color: #ffffff;
  /* Inside color = background */
  color: rgb(0, 0, 0);
  /* Text color */
  border: 2px solid rgb(52, 129, 64)
}

/* Optional: when hover (when mouse over it) */
.custom-btn:hover {
  background-color: #45a049;
  /* Slightly darker green on hover */
  color: white;
}

.home {
  background-color: #ffffff;
}

.container-explore-v2 {
  
  background-color: #ffffff;
  border: 2px solid rgb(52, 129, 64);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
 
}

.custom-btn1 {
  background-color: #153216;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px; /* makes it pill-shaped */
  font-weight: bold;
  transition: 0.3s ease;
}

.custom-btn1:hover {
  background-color: #3f8247; /* slightly lighter green on hover */
  color: #fff;
}