.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: #74a580;
  border-bottom: 2px solid rgb(52, 129, 64);
  /* ✅ border width, style, and color */
}

.nav-link {
  font-size: 18px;
  /* or larger like 20px */
  padding: 10px 20px;
  /* adjust spacing */
}

.navbar-logo {
  height: 160px;
  /* Make it bigger */
  margin-top: -30px;
  /* Pull it upward to not stretch navbar */
  margin-bottom: -30px;
  /* Optional: prevent pushing nav links down */
  margin-left: -50px;
}

.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes up at least the full height of the viewport */
}


.lines-main {

  color: rgb(35, 25, 25);
  margin-top: 60px;
}

.lines-main h2 {

  font-weight: 700;
}

.lines-main h3 {
  font-size: small;
  font-style: italic;
  margin-top: 10px;
}

.container-explore {

  color: black;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid rgb(52, 129, 64);
}

.join-us {

  background-color: rgb(61, 112, 80);
}





.favourite-place {
  background-color: white;
  /* or any background color you prefer */
  border-radius: 10px;
  /* optional: for softer corners */
  padding: 20px;
  /* optional: for spacing */
}

.main-shape {
  margin-right: -140px;
  margin-top: 100px;
  width: 700px;
  /* Adjust this value */
  height: auto;
  /* Keeps aspect ratio */
}

.custom-btn {
  background-color: #ffffff;
  /* Inside color = background */
  color: rgb(0, 0, 0);
  /* Text color */
  border: 2px solid rgb(52, 129, 64)
}

/* Optional: when hover (when mouse over it) */
.custom-btn:hover {
  background-color: #45a049;
  /* Slightly darker green on hover */
  color: white;
}

.form-label {
  color: rgb(0, 0, 0);
}

.join-us {

  background-color: rgb(61, 112, 80);
}

footer {
  background-color: #0a4919;
  color: #ecf0f1;
  padding: 20px 0;
}

.container-home{
  margin-bottom: 100px;
}